body{
    font-family: 'Fredoka One', cursive;
}

.quizComponents{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

#startingPage{
    padding: 33px;
    margin: 21px auto;
    width: 700px; height: 350px;
    border-radius: 25px;
    background-color: rgb(164, 235, 255);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startingPage button{
    padding: 10px;
    width: 300px;
    margin: 5px;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    background-color: white;
    color: rgb(164, 235, 255);
}

#startingPage button:hover{
    background-color: rgb(255, 248, 171);
}

#theQuiz{
    padding: 33px;
    margin: 21px auto;
    width: 700px; height: 350px;
    border-radius: 25px;
    border-style: solid;
    border-width: 13px;
    border-color: rgb(164, 235, 255);
    background-color: white;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#remainingTime{
    padding: 10px;
    width: 300px;
    margin: 5px auto;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    background-color: white;
    color: rgb(164, 235, 255);
}

#theQuestion{
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(164, 235, 255);
    text-align: center;
}

#theQuiz button{
    padding: 10px;
    width: 300px;
    margin: 5px auto;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    color: white;
}

#theQuiz button:hover{
    background-color: rgb(255, 248, 171);
}

#choiceA{
    background-color: rgb(255, 192, 247);
}

#choiceB{
    background-color: rgb(255, 217, 146);
}

#choiceC{
    background-color: rgb(232, 175, 232);
}

#choiceD{
    background-color: rgb(174, 255, 174);
}

#quizEnd{
    padding: 33px;
    margin: 21px auto;
    width: 700px; height: 350px;
    border-radius: 25px;
    background-color: rgb(164, 235, 255);
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quizEnd input{
    padding: 10px;
    width: 500px;
    margin: 5px;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    background-color: white;
    color: rgb(164, 235, 255);
    text-align: center;
}

#quizEnd button{
    padding: 10px;
    width: 300px;
    margin: 5px;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    background-color: white;
    color: rgb(164, 235, 255);
}

#quizEnd button:hover{
    background-color: rgb(255, 248, 171);
}

#userScorePageComponents{
    padding: 33px;
    margin: 21px auto;
    width: 700px; height: 350px;
    border-radius: 25px;
    border-style: solid;
    border-width: 13px;
    border-color: rgb(164, 235, 255);
    background-color: white;
    color: rgb(164, 235, 255);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userScorePage header{
    display: flex;
    
}

#userScorePage li{
    display: flex;
    list-style: none;
}