body{
    font-family: 'Fredoka One', cursive;
}

.quizComponents{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

#startingPage{
    padding: 33px;
    margin: 21px auto;
    width: 700px; height: 350px;
    border-radius: 25px;
    background-color: rgb(164, 235, 255);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startingButton{
    padding: 10px;
    width: 300px;
    margin: 5px;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    background-color: white;
    color: rgb(164, 235, 255);
}